.post-list {
    list-style-type: none;
}

.post-list-item {
    margin-bottom: 30px;
}

.post-list-date {
    color: rgb(118, 118, 118);
}

.post-list-title {
    font-weight: 600;
    font-size: 24px;
}
